<app-base-modal [isOpen]="isOpen" (openModal)="onOpenBase()" (closeModal)="onCloseBase()" title="Transferência"
  icon="swap_horiz">


  <!-- Localização -->
  <section class="section-group">
    <legend>Localização : {{enderecoOld}}</legend>

    <div class="section-group">
      <legend>Novo Endereço</legend>
      <div class="form-grid ">
        <div class="form-group">
          <label>Local:</label>
          <select [(ngModel)]="local" name="local">
            <option>CD</option>
            <option>E</option>
            <option>L</option>
          </select>
        </div>

        <div class="form-group">
          <label>Rua:</label>
          <select [(ngModel)]="rua" name="rua" required>
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
            <option>E</option>
            <option>F</option>
            <option>G</option>
            <option>H</option>
          </select>
        </div>

        <div class="form-group">
          <label>Coluna:</label>
          <select [(ngModel)]="coluna" name="coluna" required>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
          </select>
        </div>

        <div class="form-group">
          <label>Palete:</label>
          <select [(ngModel)]="palete" name="palete" required>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
          </select>
        </div>
      </div>
    </div>

    <button class="icon-btn" (click)="getAddress()" style="height: 50px; border-radius: 10px;">🔍 Buscar</button>

    @if (temProdutosIn === States.COMPLETE && existWTIN()) {
    <p class="merge-msg">
      Já existe produto registrado neste endereço.<br>
      Se você prosseguir, o endereço será marcado como 'misto', contendo múltiplos produtos.
    </p>
    }
    @else if (temProdutosIn === States.COMPLETE && !existWTIN()) {

    <p class="merge-msg-disp">Disponível</p>
    }

  </section>

  <section class="section-group">
    <legend>Dados do Produto</legend>
    <table class="produtos-table">
      <thead>
        <tr>
          <th>Código</th>
          <th>Fardo</th>
          <th>Quant.</th>
          <th>Quebra</th>
          <th>Vizua.</th>
        </tr>
      </thead>
      <tbody>
        @for (item of produtos; track $index) {

        <tr [ngClass]="{'wt-in': item.wt === WT.IN, 'wt-out': item.wt === WT.OUT}">
          <td>{{ item.codigo }}</td>
          <td>{{ item.fardo }}</td>
          <td>{{ item.quantidade }}</td>
          <td>{{ item.quebra }}</td>
          <td> <mat-icon [matTooltip]="item.descricao" [matTooltipDisabled]="tooltipDisabled" (click)="showTooltip()">
              visibility
            </mat-icon></td>
        </tr>
        }
      </tbody>
    </table>

    <div class="legenda">
      <span class="legenda-item wt-out">Produtos a registrar</span>
      <span class="legenda-item wt-in">Produto existente no endereço</span>
    </div>
  </section>

  <section class="section-group">
    <legend>Observações</legend>
    <textarea rows="3" [(ngModel)]="observacao"></textarea>
  </section>

  <div class="botoes">
    <button (click)="submit()" class="btn-primary">Salvar</button>
    <button type="button" (click)="onCloseBase()">Cancelar</button>
  </div>

</app-base-modal>