<app-loading-page></app-loading-page>
<button
  *ngIf="showBtnTopo"
  mat-fab
  color="primary"
  class="btn-topo"
  (click)="scrollToTop()"
  aria-label="Voltar ao topo"
>
  <mat-icon>arrow_upward</mat-icon>
</button>


<div class="toolbar">
  <button (click)="entradaModal.openx()" title="Nova Entrada"><mat-icon>archive</mat-icon> Entrada <mat-icon>archive</mat-icon></button>
</div>

<div class="filter-bar">
  <select [(ngModel)]="filtroColuna">
    <option value="enderecoId">Cód. Endereço</option>
    <option value="codigo">Código</option>
    <option value="descricao">Descrição</option>
    <option value="quantidade">Qtd.</option>
    <option value="dataF">Data F</option>
     <option value="dataL">Data L</option>
      <option value="createAt">Criação</option>
    <option value="updateAt">Data Att</option>
    <option lote="lote">Lote</option>
    <option value="obs">Observação</option>
  </select>
  <input type="text" [(ngModel)]="entradaPesquisa" placeholder="Pesquisar...">
</div>

<section class="cart-main">

  <div *ngFor="let item of filtrados" class="card">
    <table class="estoque-table">
      <tr><th>Endereco</th><td>{{ item.enderecoId }}</td></tr>
      <tr><th>Código</th><td>{{ item.produto?.codigo }}</td></tr>
      <tr><th>Descrição</th><td>{{ item.produto?.descricao }}</td></tr>
      <tr><th>Qtd.</th>
          <td>{{ item.quantidade }}</td>
      </tr>
      <tr><th>dataF</th><td>{{ item.dataF | date:'dd/MM/yyyy HH:mm:ss'  }}</td></tr>
       <tr><th>semF</th><td>{{ item.semF }}</td></tr>
      <tr><th>dataL</th><td>{{ item.dataL  | date:'dd/MM/yyyy HH:mm:ss'  }}</td></tr>
       <tr><th>Obs</th><td>{{ item.obs }}</td></tr>
       <br>
        <tr >
          <th>Criado</th><td>{{ item.createAt| date:'dd/MM/yyyy HH:mm:ss' }}</td>
        </tr>
        <tr >
          <th>Atualizado</th><td>{{ item.updateAt| date:'dd/MM/yyyy HH:mm:ss' }}</td>
        </tr>
    </table>
  
    <div class="acoes">
      <button (click)="saidaModal.openx(item)" class="output"><mat-icon>exit_to_app</mat-icon>SAÍDA</button>
      <button (click)="transferenciaModal.openx(item)" class="transfer"><mat-icon>swap_horiz</mat-icon>TRANSFERÊNCIA</button>
      <button (click)="correcaoModal.openx(item)" class="corretion"><mat-icon>edit</mat-icon>CORREÇÃO</button>
    </div>
  </div>
</section>



<app-entrada-modal #entradaModal (submitForm)="enviar($event)"></app-entrada-modal>
<app-saida-modal #saidaModal (submitForm)="enviar($event)"></app-saida-modal>
<app-transferencia-modal #transferenciaModal (submitForm)="enviar($event)"></app-transferencia-modal>
<app-correcao-modal #correcaoModal (submitForm)="enviar($event)"></app-correcao-modal>

