.toolbar {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background: white;
  border-bottom: 1px solid #ddd;
}

.toolbar button {
  flex: 1;
  margin: 0 3px;
  padding: 12px;
  font-size: 18px;
  border: none;
  background: #2d6cdf;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

}

.toolbar button:hover {
  background: #1b4fad;
}

.filter-bar {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

.filter-bar select,
.filter-bar input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.tabela-container {
  padding: 12px;
}

section {
  display: grid;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px;
  grid-template-columns: 1fr 1fr 1fr;

}

.estoque-card {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0px 1px 10px 2px rgba(0, 119, 255, 0.205);
}

.data-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px 16px;
  margin-top: 8px;
  padding: 8px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.data-item {
  display: flex;
  flex-direction: column;
  padding: 4px 0;
}

.data-item .label {
  font-size: 0.75rem;
  color: #757575;
  font-weight: 500;
}

.data-item .value {
  font-size: 0.9rem;
  color: #212121;
  font-weight: normal;
}

.data-item.full-width {
  grid-column: 1 / -1;
}

.timestamp-label {
  font-style: italic;
  font-size: 0.65rem !important;
}

.acoes {
  width: 100%;
  display: flex;
  gap: 8px;
  padding: 8px 0 0;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.output-btn,
.transfer-btn,
.corretion-btn {
  font-size: 0.75rem;
  padding: 0 10px;
  height: 36px;

  mat-icon {
    margin-right: 4px;
    font-size: 18px;
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 480px) {
  .data-grid {
    grid-template-columns: 1fr;
  }
}

.btn-topo {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out;
}

.btn-topo:hover {
  transform: translateY(-2px);
}

// .cart-main {
//   display: grid;
//   flex-direction: column;
//   align-items: center;
//   grid-template-columns: 1fr 1fr 1fr;
// }


@media (max-width: 1160px) {
  section {
    grid-template-columns: 1fr 1fr;
  }


}

@media (max-width: 768px) {
  section {
    display: flex;
  }

  .output-btn,
  .transfer-btn,
  .corretion-btn {
    font-size: 0.55rem;
    // padding: 0 10px;
    // height: 36px;

    mat-icon {
      margin-right: 4px;
      font-size: 18px;
      width: 18px;
      height: 18px;
    }
  }
}