.page-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    max-width: 980px;
    width: 100%;
}

.header-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.google-btn {
    height: 40px;
    padding: 0 24px;
    background: #1A73E8;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.1px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    transition: background .2s, box-shadow .2s, transform .1s;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    &:hover {
        background: #1a73e8c2;
        box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
    }

    &:active {
        transform: scale(0.98);
    }

    &.success {
        background: #34A853;
        &:hover {
            background: #2c8a46;
        }
    }
}

.cif-badge {
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 6px;
    background: rgba(23, 101, 204, 0.1);
    color: #1765cc;
    padding: 4px 12px;
    border-radius: 12px;
    font-weight: 700;
    width: fit-content;
    font-size: 0.8rem;
    border: 1px solid rgba(23, 101, 204, 0.2);

    mat-icon {
        font-size: 16px;
        width: 16px;
        height: 16px;
    }
}

.cif-error-badge {
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 6px;
    background: rgba(217, 48, 37, 0.1);
    color: #d93025;
    padding: 4px 12px;
    border-radius: 12px;
    font-weight: 700;
    width: fit-content;
    font-size: 0.8rem;
    border: 1px solid rgba(217, 48, 37, 0.2);

    mat-icon {
        font-size: 16px;
        width: 16px;
        height: 16px;
    }
}

@media (max-width: 500px) {
    .page-container {
        width: auto;
    }
}
