<app-loading-page></app-loading-page>
<button *ngIf="showBtnTopo" mat-fab color="primary" class="btn-topo" (click)="scrollToTop()"
  aria-label="Voltar ao topo">
  <mat-icon>arrow_upward</mat-icon>
</button>


<div class="toolbar">
  <button routerLink="/entrada-mercadoria" title="Nova Conferência"><mat-icon>move_to_inbox</mat-icon> Nova
    Conferência</button>
</div>

<div class="filter-bar">
  <select [(ngModel)]="filtroColuna">
    <option value="codigo">Código</option>
    <option value="descricao">Descrição</option>
  </select>
  <input type="text" [(ngModel)]="entradaPesquisa" placeholder="Pesquisar...">
</div>

<section>
  <mat-card *ngFor="let item of filtrados" class="estoque-card">
    
    <mat-card-header>
      <mat-card-title>{{ item.ProdutoCodigo }} - {{ item.ProdutoDescricao }}</mat-card-title>
      <mat-card-subtitle>CIF: {{ item.CifsNome??"N/A"  }} | LOTE: {{ item?.Lote ?? "N/A"}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="data-grid">
        <div class="data-item">
          <span class="label">Data de Fabricação:</span>
          <span class="value">{{ item.DataF }}</span>
        </div>
        <div class="data-item">
          <span class="label">Semana de Fabricação:</span>
          <span class="value">{{ item.SemF }}</span>
        </div>
        <div class="data-item">
          <span class="label">Qtd. Conferida:</span>
          <span class="value">{{ item.QtdConferida }}</span>
        </div>
        <div class="data-item">
          <span class="label">Qtd. Entrada:</span>
          <span class="value">{{ item.QtdEntrada??0 }}</span>
        </div>
        <div class="data-item">
          <span class="label timestamp-label">Criado em:</span>
          <span class="value">{{ item.CreateAt | date:'dd/MM/yyyy HH:mm:ss' }}</span>
        </div>

      </div>
    </mat-card-content>

    <mat-card-actions class="acoes">

      <!-- Quando clicar, salva o item e abre a modal de seleção -->
      <button mat-flat-button 
              (click)="onAbrirSelect(item)" 
              color="primary">
        <mat-icon>exit_to_app</mat-icon>
        ENTRADA
      </button>

      <button mat-flat-button color="accent" (click)="correcaoModal.openx(item)">
        <mat-icon>edit</mat-icon>
        CORREÇÃO
      </button>

      <button mat-flat-button color="warn" (click)="remover(item)">
        <mat-icon>remove_circle_outline</mat-icon>
        REMOVER
      </button>

    </mat-card-actions>

  </mat-card>
</section>

<!-- <section>
  <mat-card *ngFor="let item of filtrados" class="estoque-card">
    <mat-card-header>
      <mat-card-title>{{ item.ProdutoCodigo }} - {{ item.ProdutoDescricao }}</mat-card-title>
      <mat-card-subtitle>CIF: {{ item.CifsNome??"N/A"  }} | LOTE: {{ item?.Lote ?? "N/A"}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="data-grid">
        <div class="data-item">
          <span class="label">Data de Fabricação:</span>
          <span class="value">{{ item.DataF }}</span>
        </div>
        <div class="data-item">
          <span class="label">Semana de Fabricação:</span>
          <span class="value">{{ item.SemF }}</span>
        </div>
        <div class="data-item">
          <span class="label">Qtd. Conferida:</span>
          <span class="value">{{ item.QtdConferida }}</span>
        </div>
        <div class="data-item">
          <span class="label">Qtd. Entrada:</span>
          <span class="value">{{ item.QtdEntrada??0 }}</span>
        </div>
        <div class="data-item">
          <span class="label timestamp-label">Criado em:</span>
          <span class="value">{{ item.CreateAt | date:'dd/MM/yyyy HH:mm:ss' }}</span>
        </div>

      </div>
    </mat-card-content>

    <mat-card-actions class="acoes">
      <button mat-flat-button 
      (click)="selectOP.isOpen = true" 
      color="primary">
        <mat-icon>exit_to_app</mat-icon>
        ENTRADA
      </button>
      <button mat-flat-button color="accent" (click)="correcaoModal.openx(item)">
        <mat-icon>edit</mat-icon>
        CORREÇÃO
      </button>

      <button mat-flat-button color="warn" (click)="remover(item)" >
        <mat-icon>remove_circle_outline</mat-icon>
        REMOVER
      </button>
      
    </mat-card-actions>
  </mat-card>
</section> -->

<app-entrada-conferencia-modal #entradaModal ></app-entrada-conferencia-modal>
<app-entrada-picking-modal #pickingModal ></app-entrada-picking-modal>
<app-entrada-conferencia_correcao-modal #correcaoModal></app-entrada-conferencia_correcao-modal>
<app-select-operation #selectOP (returnSelect)="returnSelect($event)"></app-select-operation>