.xcustom-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(2 3 6 / 53%);
  z-index: 999;
  overflow: hidden;
}

.section-group {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  border: 1px solid #ddd;
  /* borda leve */
  border-radius: 8px;
  padding: 10px;
  background-color: #fafafa;
  margin-bottom: 10px;
}

.section-group legend {
  font-weight: 600;
  padding: 0 5px;
  margin-left: 10px;
  color: #333;
}

/* Campos em linha: grupos de 2 */
.inline-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  flex: 2;
}

.inline-group .campo {
  flex: 1 1 100%;
  /* 2 campos por linha, ajustando gap */
  min-width: 50px;
  /* largura mínima para não quebrar muito cedo */
  display: flex;
  flex-direction: column;
}


/* Campos individuais */
.campo label {
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.campo input,
.campo textarea {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 0.9rem;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

/* Textarea maior */
.campo textarea {
  min-height: 60px;
  resize: vertical;
}

/* Botões */
.botoes {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.botoes button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.botoes button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
}

.botoes button[type="button"] {
  background-color: #f44336;
  color: #fff;
}

/* Responsividade extra */
@media (max-width: 400px) {
  .inline-group .campo {
    flex: 1 1 100%;
    /* 1 campo por linha em telas muito pequenas */
  }
}
input[readonly],
textarea[readonly] {
  background-color: #e9ecef;
  color: #6c757d;
  cursor: not-allowed;
}


.datals{
  width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.erro-msg {
  color: #d93025;
  font-size: 12px;
  margin-top: 4px;
}

input.ng-invalid.ng-touched,
input.ng-invalid.ng-dirty {
  border: 1px solid #d93025;
  background-color: #ffecec;
}
