<app-base-modal [isOpen]="isOpen" (openModal)="onOpenBase()" (closeModal)="onCloseBase()" title="Busca de Produtos"
icon="inbox" >
<div style="z-index: 99999;">
    <section class="section-group">
      <legend>Produto</legend>
      <form #formRef="ngForm" (ngSubmit)="submit(formRef)">
        <div class="group">
          <div class="campo">
            <label>Código:</label>
            <div style="display: flex;">
              <input type="number" [(ngModel)]="formData.codigo" name="codigo" required />
              <button type="button" (click)="buscarProduto()" style="
                  border: none;
                  border-radius: 10px;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: space-around;
                  cursor: pointer;
                  margin-left: 5px;
                  background: #3a80b15e;
                  padding: 10px;
                ">
                <mat-icon>search</mat-icon>Buscar
              </button>
            </div>
            <div *ngIf="formRef.submitted && !formData.codigo" class="erro-msg">
              Informe o código do produto.
            </div>
          </div>

          <div class="campo">
            <label>Descrição:</label>
            <input type="text" [ngModel]="produto?.Descricao" name="descricao" readonly />
            <div *ngIf="formRef.submitted && !produto" class="erro-msg">
              Busque e selecione um produto válido.
            </div>
          </div>
        </div>

        <br />

        @if (produto) {
        <section class="section-group inline-group">
          <legend>Quantidades atuais</legend>

          <div class="group datals">
            <div class="campo">
              <label>Qtd.:</label>
              <input type="number" [(ngModel)]="formData.quantidade" name="quantidade" placeholder="Ex.: 0" required />
              <div *ngIf="formRef.submitted && !formData.quantidade" class="erro-msg">
                Quantidade é obrigatória.
              </div>
            </div>

            <div class="campo">
              <label>Data Fab. (MM/YY)</label>
              <input type="month" [(ngModel)]="formData.dataf" name="dataf" required />
              <div *ngIf="formRef.submitted && !formData.dataf" class="erro-msg">
                Data de fabricação é obrigatória.
              </div>
            </div>

            <div class="campo">
              <label>Sem Fab.:</label>
              <input type="number" [(ngModel)]="formData.semf" name="semf" placeholder="Ex.: 0" required />
              <div *ngIf="formRef.submitted && !formData.semf" class="erro-msg">
                Campo obrigatório.
              </div>
            </div>

            <div class="campo">
              <label>Lote:</label>
              <input type="text" [(ngModel)]="formData.lote" name="lote" placeholder="Ex.: GR2" required />
              <div *ngIf="formRef.submitted && !formData.lote" class="erro-msg">
                Lote é obrigatório.
              </div>
            </div>
          </div>
        </section>
        }

        <div class="botoes">
          <button type="submit">Salvar</button>
          <button type="button" (click)="onCloseBase()">Cancelar</button>
        </div>
      </form>
    </section>
  </div>
</app-base-modal>