<app-base-modal [isOpen]="isOpen" (openModal)="onCloseBase()" (closeModal)="onCloseBase()" title="Nova Saída"
  icon="exit_to_app">
  <div>
    <section class="section-group">
      <legend>Produto</legend>

      <div class="group duo-fields">
        <div class="campo">
          <label>Código:</label>
          <input type="text" [value]="formData?.produto?.codigo" name="codigo" readonly>
        </div>

        <div class="campo">
          <label>Descrição:</label>
          <input type="text" [value]="formData?.produto?.descricao" name="descricao" readonly>
        </div>
      </div>


    
    </section>
    <form (ngSubmit)="submit()">
      <section class="section-group inline-group">
        <legend>Quantidades</legend>
        <div class="group">
          <div class="campo">
            <label>Qtd. atual:</label>
            <input type="number" [value]="formData?.quantidade" name="fardo" readonly>
          </div>

          <div class="campo">
            <label>Qtd. saída:</label>
            <input type="number" [(ngModel)]="formDataQtd" name="quantidade" >
          </div>          
        </div>


      </section>


      <div class="campo">
        <label>Observações:</label>
        <textarea [(ngModel)]="formDataObs" name="observacao"></textarea>
      </div>

      <div class="botoes">
        <button type="submit">Salvar</button>
        <button type="button" (click)="onCloseBase()">Cancelar</button>
      </div>
    </form>
  </div>
</app-base-modal>