.status {
  font-size: 14px;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 6px;
  display: inline-block;

  &.Conectado {
    background: #d4edda;
    color: #155724;
  }

  &.Desconectado {
    background: #f8d7da;
    color: #721c24;
  }

  &.Reconectando {
    background: #fff3cd;
    color: #856404;
  }
}
