.modal-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
}

.full {
  width: 100%;
}

.toggle-container {
  display: flex;
  justify-content: space-between;
}

.button-group {
  display: flex;
  gap: 12px;
}

.option-btn {
  flex: 1;
  font-size: 16px;
  padding: 14px 0;
  border-radius: 12px;
  background: #1765cc !important;
  color: white !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

/* Hover (mais suave, mantendo #1765cc) */
.option-btn:hover {
  background: #155bb8 !important;
}

/* Remove qualquer shadow exagerado do Material */
.option-btn.mat-raised-button {
  box-shadow: none !important;
}
