header {
    background: url('/background2.jpg') no-repeat center center;
    background-size: 30%;
    background-clip: padding-box;
    color: #ffffff;
    padding: 45px;
    text-align: center;
    overflow: hidden;
    box-shadow: 10px 5px 5px #0014ff1a;
        border-radius: 10px;

    h1 {
        margin: 20px;
    }
}

.status {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    top: -35px;
    left: 30px;
    align-items: center;
    justify-content: space-between;
}

::ng-deep .cdk-overlay-container {
    z-index: 9999;
}

@media(max-width: 700px) {
    header {
        background: url('/background.jpg') no-repeat center center;
        background-size: cover;
    }
}

