header {
    background: url('/background2.jpg') no-repeat center center;
     background-size: 30%;
    background-clip: padding-box;
    color: white;
    padding: 45px;
    text-align: center;
    // font-size: 20px;
    // border-radius: 10px;
    overflow: hidden;
    // background: #2d6cdf;
    // color: white;
    // padding: 15px;
    // text-align: center;
    // font-size: 20px;

    h1 {
        margin: 20px;
    }
}

.status {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    top: -35px;
    left: 30px;
    align-items: center;
    justify-content: space-between;
}

::ng-deep .cdk-overlay-container {
    z-index: 9999;
}

@media(max-width: 700px) {
    header {
        background: url('/background.jpg') no-repeat center center;
        background-size: cover;
    }
}