@if (OpenSub) {


<app-base-modal [isOpen]="isOpen" (openModal)="onCloseBase()" (closeModal)="onCloseBase()" title="Nova Entrada"
  icon="archive">


  <!-- Localização -->
  <section class="section-group">
    <legend>Localização</legend>
    <div class="form-grid">


      <div class="form-group">
        <label>Rua:</label>
        <select [(ngModel)]="rua" name="rua" required>
          <option
            *ngFor="let letra of ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']">
            {{ letra }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label>Bloco:</label>
        <select [(ngModel)]="bloco" name="bloco" required>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
        </select>
      </div>

      <div class="form-group">
        <label>Apt:</label>
        <select [(ngModel)]="apt" name="apt" required>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
        </select>
      </div>
    </div>
    <button class="icon-btn" (click)="getAddress()" style="height: 50px; border-radius: 10px; width: 100%;">🔍
      Buscar</button>


    @if (temProdutosIn === States.COMPLETE && existWTIN()) {
    <p class="merge-msg">
      Já existe produto registrado neste endereço.<br>
      Se você prosseguir, o endereço será marcado como 'misto', contendo múltiplos produtos.
    </p>
    }
    @else if (temProdutosIn === States.COMPLETE && !existWTIN()) {

    <p class="merge-msg-disp">Disponível</p>
    }
  </section>

  <section class="section-group">
    <legend>Dados do Produto</legend>
    <table class="produtos-table">
      <thead>
        <tr>
          <th>Código</th>
          <!-- <th>Descrição</th> -->
          <th>Quant.</th>
          <th>Data Fab.</th>
          <th>Sem Fab.</th>
          <th>Lote</th>
        </tr>
      </thead>
      <tbody>
        @for (item of produtos; track $index) {
        <tr [ngClass]="{
    'wt-in': item.propsPST.origem === Origem.IN,
    'wt-out': item.propsPST.origem === Origem.OUT
  }">

          <td (click)="mostrarDescricao(item)" style="cursor:pointer; text-decoration: underline;">
            {{ item.codigo }}
          </td>

          <!-- <td>{{ item.descricao }}</td> -->
          <td>{{ item.quantidade }}</td>
          <td>{{ item.dataf }}</td>
          <td>{{ item.semf }}</td>
          <td>{{ item.lote }}</td>
        </tr>
        }
      </tbody>
    </table>

    <div class="legenda">
      <span class="legenda-item wt-out">Produtos a registrar</span>
      <span class="legenda-item wt-in">Produto existente no endereço</span>
    </div>
  </section>

  <section class="section-group">
    <legend>Observações</legend>
    <textarea rows="3" [(ngModel)]="observacao"></textarea>
  </section>

  <div class="section-group">
    <button (click)="submitE()" class="btn-primary">Salvar</button>
    <button class="btn-secondary">Cancelar</button>
  </div>

</app-base-modal>
}
<!-- <app-add-produto-modall #addProduto (submitForm)="enviar($event)" (close)="OpenSub=true"></app-add-produto-modall> -->