<div class="menu-container">
    <mat-card class="menu-card" routerLink="/mapa-estoque" matRipple>
        <mat-icon class="icon icon-estoque">shelves</mat-icon>
        <div class="card-text">
            <h3>Mapa de Estoque</h3>
            <p>Visualize o estoque em tempo real.</p>
        </div>
    </mat-card>

    <mat-card class="menu-card" routerLink="/entrada-mercadoria" matRipple>
        <mat-icon class="icon icon-entrada">add_shopping_cart</mat-icon>
        <div class="card-text">
            <h3>Entrada de Mercadoria</h3>
            <p>Registre novas entradas de produtos.</p>
        </div>
    </mat-card>
</div>