<div class="menu-container" *ngIf="isMenuVisible()">
    <mat-card class="menu-card"
              matRipple
              [routerLink]="['livre']"
              routerLinkActive="active-card">
        <mat-icon class="icon icon-estoque">storage</mat-icon>
        <div class="card-text">
            <h3>Entrada Livre</h3>
            <p>Adicione produtos livremente, sem o apoio do módulo CIF.</p>
        </div>
    </mat-card>

    <mat-card
        class="menu-card"
        matRipple
        (click)="cliqueCif()"
        [class.active-card]="isCifRoute()">
        <mat-icon class="icon icon-entrada">description</mat-icon>
        <div class="card-text">
            <h3>Conferência CIF</h3>
            <p>Realize a entrada de mercadorias com o apoio do módulo CIF.</p>
        </div>
    </mat-card>
</div>

<div class="content-container">
    <div class="sub-page-header" *ngIf="!isMenuVisible()">
        <button mat-icon-button [routerLink]="['/entrada-mercadoria']" class="back-btn">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <span class="header-title">{{ isCifRoute() ? 'Conferência CIF' : 'Entrada Livre' }}</span>
    </div>
    <router-outlet></router-outlet>
</div>
